.new_oe_avatar {
    border: none;
    box-shadow: none;
    max-width: 70px;
    max-height: 70px;
    margin-right: 300px;
}

.btn-close{
    display:none;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }